<div>
    <div>
        <div class="demo-form applayLecturerStep1">
            <div class="el-form-item"><label class="el-form-item__label" style="width: 80px;">电话号码</label>
                <div class="el-form-item__content" style="margin-left: 80px;">
                    <div class="el-input">
                        <input type="text" name="mobile" autocomplete="off" style="width: 240px;"
                            class="el-input__inner">
                    </div>
                </div>
            </div>
            <div class="el-form-item"><label class="el-form-item__label" style="width: 80px;">验证码</label>
                <div class="el-form-item__content" style="margin-left: 80px;">
                    <div class="el-input">
                        <input type="text" name="verifyCode" autocomplete="off" style="width: 120px;"
                            class="el-input__inner ">
                        <button type="button" class="el-button el-button--primary el-button--small apply-verifyCode"
                            style="margin-left:18px;"><span>发送验证码</span></button>
                    </div>
                </div>
            </div>
            <div class="el-form-item"><label class="el-form-item__label" style="width: 80px;">姓名</label>
                <div class="el-form-item__content" style="margin-left: 80px;">
                    <div class="el-input">
                        <input type="text" name="name" autocomplete="off" style="width: 240px;"
                            class="el-input__inner ">
                    </div>
                </div>
            </div>
            <div class="el-form-item"><label class="el-form-item__label" style="width: 80px;">身份证号</label>
                <div class="el-form-item__content" style="margin-left: 80px;">
                    <div class="el-input">
                        <input name="idCard" type="text" autocomplete="off" class="el-input__inner ">
                    </div>
                </div>
            </div>
            <div class="el-form-item"><label class="el-form-item__label" style="width: 80px;">申请自述</label>
                <div class="el-form-item__content" style="margin-left: 80px;">
                    <div class="el-textarea">
                        <textarea name="readme" autocomplete="off" class="el-textarea__inner"
                            style="min-height: 33px;"></textarea>
                    </div>
                </div>
            </div>
            <div class="el-form-item">
                <div class="el-form-item__content" style="margin-left: 80px;">
                    <div class="el-textarea" style="text-align: right;padding-top:20px; padding-right:30px">
                        <button type="button" class="el-button el-button--primary"><span>发起申请</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>