<!-- 首页头部 -->
<header class="index-header w">
    <div class="w-1200 pos-rel">
        <div class="float-left index-header-logo-wrapper">
            <a class="index-header-logo" href="/"></a>
        </div>
        <div class="index-user-area float-right bee-auth-area" id="loginged-user-area-wrapper">
            <span class="bee-auth-sign-in">登录</span>
            <span>/</span>
            <span class="bee-auth-sign-up">注册</span>
        </div>

        <div class="index-search-wrapper">
            <div>
                <div class="index-mod-search">
                    <input type="text" id="js_keyword" maxlength="38" class="index-mod-search-input" autocomplete="off" placeholder="搜索课程" data-sync="1">
                    <a href="javascript:;" class="index-mod-search-btn fa fa-search"></a>
                </div>
            </div>
        </div>
    </div>
</header>