{{#list}}
<div class="bee-card">
    <div class="course-card">
        <a class="course-card-thumb" href="">
            <img src="https://res.shiguangkey.com/{{cover}}?x-oss-process=image/format,webp" alt="" srcset="">
        </a>
        <div>
            <a class="course-card-title" href="">{{name}}</a>
        </div>
        <div class="course-card-wom">
            <span class="float-left"><i class="fa fa-user-o"></i>{{signNums}}</span>
            <span class="float-right">{{auditions}}人评价</span>
        </div>
        <div class="course-card-sem clear-both">
            <span>￥ {{price}}</span>
        </div>
    </div>
</div>
{{/list}}