<li class="index-category" id="index_category">
    <a class="index-category-title" href="/course/list.html?cateId={{id}}"><i
            class="{{icon}}"></i><span>{{name}}</span></a>
    <div class="index-category-content">
        <div class="cate-title">
            <span>{{name}}</span>
        </div>
        <div class="cate-list">
            {{#children}}
            <div class="pos-rel">
                <div class="inline-block sub-cate-title">
                   <a href="/course/list.html?cateId={{id}}">{{name}}</a>
                </div>
                <div class="inline-block sub-cate-list">
                    {{#children}}
                    <a href="/course/list.html?cateId={{id}}">{{name}}</a>
                    {{/children}}
                </div>
            </div>
            {{/children}}
        </div>

    </div>
</li>