<div class="loginged-user-area">
    <a class="loginged-user-area-title" href="javascript:;"><img class="header-user-head-img"
            src="https://res-static.shiguangkey.com/file/udb/user/20190113/20/20190113204225606654065.jpg" alt=""></a>
    <div class="loginged-user-area-content">
        <div class="loginged-user-area-content-intro">
            <img class="header-user-head-img"
                src="https://res-static.shiguangkey.com/file/udb/user/20190113/20/20190113204225606654065.jpg" alt="">
            <span>用户名</span>
        </div>
        <div class="user-area-module-menu">
            用户相关不同的模块
        </div>

        <div>
            <div class="divide-line-h"></div>
            <span class="bee-auth-sign-out"><i class="fa fa-power-off"></i><span>注销</span></span>
        </div>
    </div>
</div>