{{#content}}
<div class="bee-card">
    <div class="course-card">
        <a class="course-card-thumb" href="/course/detail.html?id={{id}}" target="_blank">
            <img src="{{thumb}}" alt="" srcset="">
        </a>
        <div>
            <a class="course-card-title" href="/course/detail.html?id={{id}}" target="_blank">{{title}}</a>
        </div>
        <div class="course-card-wom">
            <span class="float-left"><i class="fa fa-user-o"></i>{{signNums}}</span>
            <span class="float-right">{{auditions}}人评价</span>
        </div>
        <div class="course-card-sem clear-both">
            <span>￥ {{disacountPrice}}</span>
        </div>
    </div>
</div>
{{/content}}